/* Grid Structural Styles*/

.grid-1,
.grid-2 {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1em;
}


@media screen and (min-width: $viewport-max) {
    .grid-1,
    .grid-2 {
        grid-template-columns: 5fr 3fr 2fr;
    }
    .grid-2 {
        > :first-child {
            grid-area: 1/1/3/3;
        }
        > :nth-child(10) {
            grid-area: 5/1/5/3;
        }
        > :nth-child(18) {
            grid-area: 8/2/11/4;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

/*Grid Theme Styles*/

.grid-1>*,
.grid-2>* {
    padding: 1em;
    font-size: 1.5em;
    background-color: $c-trans-silver;
    code {
        display: none;
        font-size: 0.6666em;
        @media screen and (min-width: $viewport-max) {
            display: block;
        }
    }
}