@import 'Type';
* {
    box-sizing: border-box;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

html,
body {
    height: 100%;
}

body {
    padding: 0;
    color: $c-char;
    color: rgba(0, 0, 0, 0.83);
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

code {
    overflow: auto;
    display: block;
}

header a,
nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    padding: 1em;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.0625rem solid $c-trans-silver;
    text-align: center;
    background: $c-silver;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: -2.5em;
    background: #eee;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;
    @include fluid-type(padding, $viewport-min, $viewport-max, 6.5rem, 5rem);
    &:nth-child(2n - 1) {
        background-color: $c-silver;
    }
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

.badge {
    color: rgba(0, 0, 0, 0.3);
    background-color: $c-trans-silver;
    padding: 0.5em 0.75em;
    border-radius: 1em;
    display: inline-block;
}

a.badge {
    color: $c-white;
    background-color: $c-pri;
}

.row {
    $gap: 1em;

    //NO GRID SUPPORT    
    display: flex;
    flex-wrap: wrap; 

    //GRID SUPPORT
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: $gap;
    grid-auto-flow: dense;
    padding: $gap;
    width: 100%;
}

.row.static-type {
    @media screen and (max-width: 35.125em) {
    //max-width: 15em;
    //margin: auto;
    }
}
.sect-fluid-type-demo {
    padding-left: 0;
    padding-right: 0;
}

/* Demo Filter */
.demo-filter {
    position: fixed;
    bottom: calc(50vw - 14em);
    left: 100vw;    
    max-height: 14em;
    padding: 1em;
    overflow: auto;
    color: rgba(0, 0, 0, 0.72);
    background: $c-pri;
    list-style: none;
    transition: right 0.33s;
    transform: translateX(- 2em);
    white-space: nowrap;

    &:hover {
        transform: translateX(calc(-100%));
    }
    >li {
        margin-bottom: 0.4em;
        text-transform: uppercase;
    }
    label {
        cursor: pointer;
    }
}



/* Misc */
.primary-box {
    background: $c-pri;
    color: $c-white;
    min-width: 100px;
    min-height: 100px;
    margin: 0;
}

/* Themes */
.theme {
    background: var(--primary);
    color: var(--primary-neg);
}
.theme-1 {
    --primary: hsl(30,25%,30%);
    --primary-neg: hsl(30,25%,10%);
}
.theme-2 {
    --primary: hsl(75,25%,30%);
    --primary-neg: hsl(75,25%,64%);
}
.theme-3 {
    --primary: hsl(210, 25%, 30%);
    --primary-neg: hsl(210, 25%, 64%);
}

/* Utils */
.hide,.d-none {
    display: none;
}
.bg-silver {
    background-color: $c-silver;
}

.p-2 {
    padding: 2rem;
}

.cover {
        object-fit: cover;
        height: 100%;
        width: 100%;    
}

.font-75 {
    font-size: 75%;
}